@model VinylShop.Model.HireModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinylId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinylId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClosed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HireId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
